*{
    padding: 0px;
margin: 0px;
box-sizing: border-box;
}

#cont2 {
    position: relative;
 }
 img.superpose {
    position: absolute;
    top: 25px;
    left: 30px;
 }
 #img_1 {
    z-index: 10;

 }
 #img_2 {
    z-index: 11;
 }


p{
    font-family: 'Caveat Brush', cursive;
    font-family: 'Shadows Into Light', cursive;
}

